@import '../base.scss';

.app__header {
  background-color: $primary-blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  height: 10vh;
}

.app__title {
  text-indent: -100%;
  // background: url('/static/assets/images/better-change-logo.png') left no-repeat;
  // margin: 0 0 0.25rem 0;
}

.active, .inactive {
  font-size: 2rem;
  margin-left: 0.5rem;
  text-transform: none;
}

.active {
  color: $primary-pink;
}

.inactive {
  color:$background-dark-grey; 
}

.btn__login-submit{
  width: 50%;
}

.login__text {
  color: $primary-pink;
  padding:0;
  margin:0;
}
