@import '../base';

.donor, .donor__account, .donor__profile {
  height: 85vh;
  padding: 0.5rem;
  &__title{
    text-align: left;
  }
}


.donor__account{
  &__balance{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin: 20px 20px 50px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 4px $grey;
  }
  &__donations{
    margin: 20px;
    color: $primary-color;
    &__donation{
      display: flex;
      align-items: center;
      height: auto;
      .recipient__photo{
        text-align: center;
        height: auto;
        width: auto;
      }
      .recipient__name{
        flex-grow: 4;
        padding-left: 20px;
      }
      .amount{
        flex-grow: 1;
        text-align: right;
      }
      .recipient__photo{
        border-radius: 25px;
        height: 48px;
        width: 48px;
        box-shadow: 0px 2px 3px $background-mid-grey;

      }
    }
  }
}

.donor__profile{
  &__photo{
    border-radius: 5rem;
    display: block;
    height: 8rem;
    margin: 0 auto;
    width: 8rem;
    box-shadow: 1px 0px 4px $background-mid-grey;
  }
  dl{
    margin: 0rem 1.5rem 0rem 1.5rem;
    display: flex;
    flex-wrap: wrap;
  }
  dt{
    font-weight: 600;
    width: 50%;
    color: $text-black;
    margin: 1rem 0 1rem 0;
  }
  dd{
    text-align: right;
    width: 50%;
    margin: 1rem 0 1rem 0;
    color: $primary-blue;
    
  }
}
