@import '../base';

.donor, .donor__account, .donor__profile {
  height: 85vh;
  padding: 0.5rem;
  &__title{
    text-align: left;
  }
}


.donor__account{
  &__balance{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin: 20px 20px 50px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 4px $grey;
  }
  &__donations{
    margin: 20px;
    color: $primary-color;
    &__donation{
      display: flex;
      align-items: center;
      height: auto;
      .recipient__photo{
        text-align: center;
        height: auto;
        width: auto;
      }
      .recipient__name{
        flex-grow: 4;
        padding-left: 20px;
      }
      .amount{
        flex-grow: 1;
        text-align: right;
      }
      .recipient__photo{
        border-radius: 25px;
        height: 48px;
        width: 48px;
        box-shadow: 0px 2px 3px $background-mid-grey;

      }
    }
  }
}

.donor__profile{
  &__photo{
    border: 10px solid $primary-color;
    border-radius: 5rem;
    display: block;
    height: 10rem;
    margin: 0 auto;
    width: 10rem;
  }
  dt{
    font-weight: 600;
    float: left;
    clear: left;
    margin-bottom: 1rem;
    width: 30%;
  }
  dd{
    float:left;
    margin-left: 0;
    width: 60%;
  }
}
