@import '../base.scss';

.homepage {
  background: 
    url('/static/assets/images/homepage_bg_gradient.png') 98% -12% no-repeat,
    linear-gradient(to bottom,#F5F2F4, #D8CAD4 70%) no-repeat;
  header *,
  section * {
    width: 80%;
    margin: auto;
  }

  .getStarted {
    padding-bottom: 5rem;
    background: url('/static/assets/images/homepage_bg_gradient.png') -73px -42px no-repeat;
    p {
      color: white;
    }
  }

  .intro {
    color: $text-yellow;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.2;
    margin-left: 25%;
    width: 55%;
  }
  .intro__logo {
    display: block;
    margin: 0 10%;
  }
  .intro__photo {
    display: block;
    margin: 10% 10% 0% 10%;
  }

  .getStarted__header {
    transform: rotate(-8deg);
    margin: 0 0 4rem 3rem;
    padding: 0;
  }

  h2 {
    font-size: 2rem;
  }

  .btn__secondary {
    background-color: $secondary-light-blue;
    font-weight: 700;
    margin: 5% auto;
    text-transform: none;
    width: 80%;
  }

  .getStarted__strapline {
    color: $secondary-light-blue;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 2.5rem 0 1.5rem 10%;
  }

  blockquote {
    color: $primary-blue;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem 0 2rem 3.5rem;
  }
  
  p {
    font-size: 1rem;
    line-height: 1.4;
    padding-bottom: 1.5rem;
    width: 70%;
  }

  .testimonial__photo {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.next-arrow {
  width: 2rem;
}