.acknowledgement{
    align-self: center;
    &__notification{
        align-self: center;
    }
    &__confirmation{
        align-self: center;
    }
    &__question{
        align-self: center;
    }
    &__account__btn{
        align-self: center;
    }
}