@import '../base';

.tabs{
  height: 85vh;
  position: relative;
}
.tab-list {
  background: $primary-pink;
  display: flex;
  padding: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  height: 5vh;
  width: 100%;
  color: white;
  min-height: 60px;
  align-content: center;
}

.tab-list-item {
  flex: 1;
  display: inline-block;
  list-style: none;
  padding-top: 20px;
  margin: -1px 0 0 0;
  text-align: center;
}

.tab-list-active {
  background-color: white;
  color: $primary-blue;
}
