@import '../base';

#root div.tabs:first-of-type{
      padding: 0;
    }

.tabs{
  height: 85vh;
  position: relative;
}
.tab-list {
  background: $primary-pink;
  display: flex;
  padding: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  height: 5vh;
  width: 100%;
  max-width: $mobile-max-width;
  color: white;
  min-height: 60px;
  align-content: center;
}

.tab-list-item {
  cursor: pointer;
  flex: 1;
  display: inline-block;
  list-style: none;
  padding-top: 20px;
  margin: -1px 0 0 0;
  text-align: center;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.tab-list-active {
  color: $primary-blue;
  cursor: pointer;
  background-color: white;
}
