@import '../node_modules/normalize-scss/sass/normalize/import-now';

@import '_colors.scss';
@import '_typography.scss';

html{
  box-sizing: border-box
}

*,*::before,*::after{
 box-sizing: inherit;
}

body{
  font-family: $body-font;
}

.btn, a.btn{
  background : white;
  border: 1px solid $grey;
  border-radius: 6px;
  color: black;
  display:block;
  margin: 0 auto;
  padding: 0.5rem;
  box-shadow: 0 2px 5px $grey;
  text-decoration: none;
  text-align: center;
  width: 90%;
  &__primary{
    color: white;
    background: $primary-color;
    text-transform: uppercase; 
  }
  &__upload{
    width: 50%;
  }
}


form{
  border: 1px solid $grey;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  h3 {
    // background-color: $primary-color;
    color: $primary-color;
    margin:0 0 0.5rem 0;
    padding: 0.5rem;
  }
  ul{
    margin:1rem 0.5rem;
    li{
      margin: 1rem 0;
    }
  }
  input {
    border: 1px solid $grey;
    // margin: 0;
    padding: 1rem;
    flex: 1;
    &.nolabel{
      width:95%;
    }
  }
}
