@import '../node_modules/normalize-scss/sass/normalize/import-now';

@import '_colors.scss';
@import '_typography.scss';

html{
  box-sizing: border-box
}

*,*::before,*::after{
 box-sizing: inherit;
}

body{
  font-family: $body-font;
  color: $primary-blue;
}

#root {
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  div:first-of-type{
    padding: 0.5rem;
    margin: auto;
    max-width: 400px;
  }
}


.btn, a.btn{
  background : white;
  border: 1px solid $grey;
  border-radius: 6px;
  box-shadow: 0 2px 5px $grey;
  color: black;
  display:block;
  font-weight: 700;
  margin: 0.5rem auto;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  width: 90%;
  &__primary{
    background: $primary-pink;
    color: white;
    &:hover {
      background-color:$primary-blue; 
    }
  }
  &__secondary{
    color: $primary-blue;
  }
  &__upload{
    width: 50%;
  }
}


form{
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  h3 {
    color: $primary-color;
    margin:0 0 0.5rem 0;
    padding: 0.5rem;
  }
  ul{
    margin:1rem 0.5rem;
    padding: 0;
    li {
      list-style: none;
      // display: flex;
      // flex-direction: row;
      margin: 1rem 0;
    }
  }
  input {
      background-color: rgb(255, 255, 255);
      border: 0.2rem solid rgb(209, 209, 209);
      font-size: 1rem;
      padding: 1rem;
      border: 1px solid $background-mid-grey;
      border-radius: 0.3rem;
      letter-spacing: 0.03rem;
      min-width: 12rem;
      width: 90%;
  }
  // Formik validation styles //
  .errorInput {
    border: 0.05rem solid $primary-pink;
  }
  .validInput {
    border: 0.05rem solid $background-mid-grey;
  }
  .errorMessage, .validMessage {
    color: $primary-pink;
    display: inline-block;
    margin-left: 0.5rem;
    padding: 0;
  }
  .validMessage {
    color: $secondary-green; 
  }
  .fas {
    color: inherit;
    font-size: 1.5rem;
  }
}

/* helper styles */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
