@import '../node_modules/normalize-scss/sass/normalize/import-now';

@import '_colors.scss';
@import '_typography.scss';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $body-font;
  color: $primary-blue;
}

#root {
  div:first-of-type {
    padding: 0.5rem;
    margin: auto;
    max-width: 400px;
  }
}

.btn,
a.btn {
  background: white;
  border: 1px solid $grey;
  border-radius: 6px;
  box-shadow: 0 2px 5px $grey;
  color: $primary-blue;
  cursor: pointer;
  display: block;
  font-weight: 700;
  margin: 0.5rem auto;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  width: 90%;
  &__primary {
    background: $primary-pink;
    opacity: 0.75;
    color: white;
    &:hover {
      opacity: 1;
    }
  }
  &__secondary {
    color: $primary-blue;
  }
  &__upload {
    width: 85%;
    margin: 0;
    margin-right: 0;
  }
}

form {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  h3 {
    color: $primary-color;
    margin: 0 0 0.5rem 0;
  }
  ul {
    margin: 1rem 1rem;
    padding: 0;
    li {
      list-style: none;
      margin: 1rem 0;
    }
  }
  input {
    background-color: rgb(255, 255, 255);
    border: 0.2rem solid rgb(209, 209, 209);
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid $background-mid-grey;
    border-radius: 0.3rem;
    letter-spacing: 0.03rem;
    min-width: 12rem;
    width: 85%;
  }
  // Formik validation styles //
  .errorInput {
    border: 0.05rem solid $primary-pink;
  }
  .validInput {
    border: 0.05rem solid $background-mid-grey;
  }
  .errorMessage,
  .validMessage {
    color: $primary-pink;
    display: inline-block;
    border-radius: 3px;
    margin-left: 1rem;
  }
  .validMessage {
    color: $secondary-green;
    padding: 0;
    font-size: 2rem;
  }
  .errorMessage {
    color: $background-dark-grey;
    padding: 0 0.3rem;
    font-size: 1.8rem;
  }
  .fas {
    // font-size: 1.8rem;
  }
}


/* helper styles */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
