$primary-blue: #350078;
$primary-pink: #D1008E;
$secondary-green: #4FCC55;
$secondary-light-blue : #BCF1FF;
$background-light-grey: #F5F2F4;
$background-mid-grey: #D8CAD4;
$background-dark-grey: #AB90A4;

$text-black: #222222;
$text-yellow: #FFE7BC;

$grey: gainsboro;
$primary-color: #350078;